.container {
  display: flex;
  flex-direction: row;

  background-color: rgb(250, 250, 250);
}

.landing-heading {
  width: 100%;
  text-align: left;
  font-size: 40px;
  padding: 20px 0 0 20px;
  flex: 1;
}

.landing-page-component {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  flex: 2;
}

.landing-page-component > div {
}
