.user-info-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  padding: 20px;
  align-items: center;
}

.user-info-component_image-div {
  text-align: center;

  width: 100%;
}

.user-info-component_image {
  width: 150px;
  border-radius: 50%;
}

.user-info-component_user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.user-info-component_user-data_row1,
.user-info-component_user-data_row2,
.user-info-component_user-data_row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

.user-info-component_username {
  font-size: 26px;
  font-weight: 200;
}

#edit-profile-button {
  background-color: rgb(250, 250, 250);
  border: solid lightgrey 1px;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin: 0 0 0 20px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
}

#edit-profile-button:hover {
  opacity: 0.8;
}

#edit-profile-button:active {
  transform: scale(0.9);
}

.gear_icon {
  width: 30px;
}
