.user-info-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  padding: 20px;
  align-items: center;
}

.user-info-component_image {
  width: 150px;
  border-radius: 50%;
}

.user-info-component_user-data {
  width: 100%;
  
}

.user-info-row {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 12px 0px 12px 40px;

  box-sizing: content-box;
}
.user-info-component_username {
  font-size: 28px;
  font-weight: 200;
}

.users-name {
  font-weight: bold;
  font-size: 1.2em;
  color: rgb(247, 154, 120);
}
