.logo-component {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-script {
  position: relative;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-left: 17px;
}

.logo-component .logo {
  width: 30px;
  padding-right: 15px;
}

.logo-script::before {
  position: absolute;
  content: '';
  background-color: black;
  width: 1px;
  height: 1em;

  left: 0;
}
