.user-link-component {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  left: 7px;
  bottom: 7px;
  cursor: grab;
  color: lightgrey;
}

.user-link-component:hover .user-link-pic {
  transform: scale(1.1);
}

.user-link-component:hover .user-link-name {
  color: white;
}

.user-link-pic {
  border-radius: 25%;
}

.user-link {
  display: flex;
  align-items: center;
  background-color: lightblue;
  border-radius: 0 10px 10px 0;
  width: auto;
  height: auto;
  min-height: 20px;
  padding: 0 5px 0 5px;
  word-wrap: unset;
  font-size: 0.75em;
}

.user-link-name {
  color: purple;
  text-decoration: none;
}
