.user-link-component {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  background-color: rgb(247, 154, 120);
  padding: 10px 0 7px 10px;
  color: lightgrey;
  margin-top: 20px;
}

.user-link-component:hover .user-link-pic {
  cursor: pointer;
}

.user-link-component:hover .user-link-name {
  opacity: 0.8;
}

.user-link-component:active .user-link-pic {
  transform: scale(0.9);
}

.user-link-pic {
  border-radius: 50%;
  margin-right: 10px;
}

.user-link {
  min-height: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  word-wrap: unset;
  font-size: 0.75em;
  width: 100%;
}

.user-link-name {
  display: flex;
  align-items: center;
  color: purple;
  text-decoration: none;
}
