.collection-search-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.collection-search-results {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  flex: 2;
}

.collection-search-heading {
  width: 100%;
  text-align: left;
  font-size: 32px;
  padding: 20px 0 0 20px;
  flex: 1;
}

.collection-search-link-name {
  display: flex;
  flex-direction: column;
  color: purple;
  width: 50%;
  text-decoration: none;
  padding: 20px;
}

.collection-search-link-name img {
  margin-right: 20px;
  width: 100%;
}

.collection-search-link-name:hover {
  opacity: 0.8;
}

.collection-search-link-title {
  background-color: rgb(247, 154, 120);
  padding: 10px;
  font-size: 20px;
}
