html {
  overflow-y: scroll;
}

:root {
  --main-color: #3e4444;
  --secondary-color: #82b74b;
  --third-color: #405d27;
  --fourth-color: #c1946a;
}

.app-container {
  margin: 0 auto;
  width: auto;
}

.routes-container {
  padding-top: 100px;
  background-color: rgb(250, 250, 250);
}