.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex: 1;
}
.nav-component img {
  width: 20px;
  height: 20px;
  padding: 20px;
}

.nav-component img:hover {
  transform: scale(1.1);
}
.nav-component img:active {
  transform: scale(1);
}
